<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Twitter</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body class="main">
	<nav class="navbar navbar-expand-md bg-light">
		<!-- Links -->
		<div class="navbar-nav mr-auto">
			<a class="nav-link nav-item" href="/">Home</a>
			<a class="nav-link nav-item" href="#">Moments</a>
			<a class="nav-link nav-item" href="#">Notifications</a>
			<a class="nav-link nav-item" href="#">Messages</a>
		</div>
		<div class="navbar-nav">
			<a class="nav-link nav-item" href="/logout">Logout</a>
		</div>
	</nav>
	<div class="container-fluid" id="main">			  
		<div class="row flex-nowrap">
			<div class="col-md">
				<div class="card" id="user" style="width: 18rem;">
					<img class="card-img-top" src="/images/blue.png" alt="Card image cap">
					<div class="card-body profile">
						<img class="profile-img rounded-circle" src="/images/dawg.jpg">
						<h3 class="card-title username"><%= profile.display_name %></h3>
						<h6 class="card-subtitle"><a href="/user/<%= profile.handle %>" class="user-handle"><%= profile.handle %></a></h6>
						<div class="tweet-num">
							<h6>Tweets</h6><p>8</p>
						</div>
						<div class="following-num">
								<h6>Following</h6><p><%= profile.following.length %></p>
							</div>
						<div class="follower-num">
							<h6>Followers</h6><p>10</p>
						</div>
					</div>
				</div>
				<div class="follow-container">
					<% if (!user.following.includes(profile.handle)) { %>
						<button class="btn btn-primary follow-btn">Follow</button>
					<% }  else { %>
						<button class="btn btn-primary unfollow-btn">Unfollow</button>
					<% } %>
				</div>			
			</div>
			<div class="col-md-6 mid-content">
				<% for (var i = tweets.length - 1; i > -1; i--) { %>
					<div class="card see-content">
						<div class="card-body">
							<img class="user-img rounded-circle" src="/images/dawg.jpg">
							<h5 class="card-title name"><%= tweets[i].author %></h5>
							<h6 class="card-subtitle handle"><a href="/user/<%= tweets[i].handle %>"><%= tweets[i].handle %></a></h6>
							<p class="card-text"><%- tweets[i].content.replace(/\n/g, '<br/>') %></p>
						</div>
					</div>
				<% } %>
			</div>
			<div class="col-md">
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	  
	<script>
		$(function() {
			$(".follow-container").on("click", ".follow-btn", function() {
				// Send ajax POST to follow user
				// DOM manipulation to show correct button
				var button = $(this);
				button.removeClass("follow-btn");
				button.addClass("unfollow-btn");
				button.text("Unfollow");
			});
			$(".follow-container").on("click", ".unfollow-btn", function() {
				// send ajax POST to unfollow user
				// DOM manipulation to show correct button
				var button = $(this);
				button.removeClass("unfollow-btn");
				button.addClass("follow-btn");
				button.text("Follow");

			});
		});
	</script>
</body>
</html>